/* Write your CSS code here */
.blogItemDetails-division {
  display: flex;
  flex-direction: column;
}
.avatar-author-division {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.avatarimg {
  height: 30px;
  width: 30px;
}
.image-blogitem {
  height: 200px;
  width: 200px;
}
